@font-face {
    font-family: "Georgia";
    src: url(../../../../../assets/fonts/Georgia/Georgia-Regular-font.ttf);
}

.DashboardMessage {
    &-Heading {
        letter-spacing: 0px;
        color: #000;
        font-family: "Georgia", Arial, Helvetica, sans-serif;
        font-weight: bold;
        line-height: calc(9px + 2.196vw);
        font-size: calc(10px + 1.464vw);
    }

    &-Description {
        line-height: calc(9px + 2.196vw);
        font-size: calc(5px + 0.732vw);
        letter-spacing: 0px;
        color: #B5B5B5;
    }
}