@font-face {
    font-family: "Georgia";
    src: url(../../../../../assets/fonts/Georgia/Georgia-Regular-font.ttf);
}

.DashboardMessage {
    &-Heading {
        font-size: 30px;
        line-height: 39px;
        letter-spacing: 0px;
        color: #000;
        font-family: "Georgia", Arial, Helvetica, sans-serif;
    }

    &-Description {
        font-size: 15px;
        line-height: 39px;
        letter-spacing: 0px;
        color: #B5B5B5;
    }
}