.DriverSections {
  &-Item {
    margin-right: 2.969vw;
    padding: 13px 0;
    opacity: 0.2;
    display: flex;
    align-items: center;
    &_active {
      opacity: 1;
    }
    &_done {
      background-color: black;
      opacity: 1;
    }
    &_count {
      letter-spacing: 0px;
      color: #000;
      font-size: 11px;
      line-height: 27px;
      width: 25px;
      height: 25px;
      border: 1px solid #000000;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &_title {
      letter-spacing: 0px;
      font-size: 12px;
      line-height: 18px;
      color: #000;
      margin-left: 9px;
    }
  }
  &-DoneLine_block {
    height: 28px;
    width: 1px;
    background-color: black;
    transform: translate(11px, 25px);
    position: absolute;
  }
  &-DoneLine_none {
    display: none;
    position: absolute;
  }
}

@media only screen and (max-width: 600px) {
  .DriverSections {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .DriverSections {
    &-Item {
      &_title {
        display: none;
      }
    }
  }
}
