.logo{
    background-repeat: no-repeat;
    background-size: cover;
    width: 207px;
    height: 46px;
    background-image: url(../../../../src/accets/img/logo.png)
}
.login-h2{
    font-size: 26px;

}
.login-span{
    color: #838282;
    font-family: 'Roboto', sans-serif;
}
.input{
    width: 382px;
    height: 69px;
    font-size: 18px;
    border-bottom: 1px solid #BEBEBE;
}