.FileUploadWrapper {
    position: relative;
}

.AddDriverFormButtonGroup {
    width: 100%;
    &-Button {
        letter-spacing: 0px;
        color: #000;
        font-size: 12px;
        line-height: 39px;
        width: 50%;
        background: #fff;

        &_blackBorder {
            border-bottom: 2px solid #000000;
        }

        &_noBorder {
            color: #363636;
            font-family: "Roboto Light", Arial, Helvetica, sans-serif;
        }

        &:focus {
            outline: none;
        }

        &_error {
            border: 3px solid red;
        }
    }
}


