.HeaderTop {
  display: flex;
  justify-content: space-between;
  padding: 6px 1.171vw 6px 2.269vw;

  .IconHeadingWrap {
    display: flex;
    align-items: center;
  }

  .HeaderTop-H1 {
    font: normal normal normal calc(8px + 0.732vw)/calc(10px + 1.171vw) Roboto;
    letter-spacing: 0;
    color: #000;
    margin-left: 0.732vw;
  }

  .HeaderTop-Span {
    font: normal normal normal calc(0.439vw + 6px)/calc(20px + 1.391vw) Roboto;
    letter-spacing: 0;
    color: #9D9D9D;
  }
}
