@font-face {
    font-family: "Roboto Bold";
    src: url(../../../../../assets/fonts/Roboto/Roboto-Bold.ttf);
}

.OrderDetailHeader {
    display: flex;

    & .OrderDetailHeaderRight {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 20%;
    }

    & .OrderDetailHeaderLeft {
        width: 80%;
        display: flex;
        padding-top: 30px;
        padding-left: 30px;

        &-OrderNumber {
            letter-spacing: 0px;
            color: #000;
            font-size: 18px;
            line-height: 26px;
            margin-left: 10.92px;
        }

        &-SectionName {
            letter-spacing: 0px;
            color: #9D9D9D;
            font-size: 12px;
            line-height: 39px;
        }
        & .OrderDetailHeaderLeftWrapper {
            padding-right: 30px;
            border-right: 1px solid rgba(214,214,214, 0.72);    
        }

        & .OrderDetailLeftSideActions {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-around;

            &-Button {
                letter-spacing: 0px;
                font-size: 13px;
                line-height: 39px;
                padding: 0 22px;
                border-radius: 3px;

                &_black {
                    font-family: "Roboto Bold", Arial, Helvetica, sans-serif;
                    background: #000 0% 0% no-repeat padding-box;
                    color: #FFF;
                }

                &_white {
                    color: #000;
                    background: #FFF 0% 0% no-repeat padding-box;
                    border: 1px solid #000;
                }
            }

        }
    }
}