.NavBar {
    box-shadow: 0 0 42px #00000014;
    background: #FFF;
    position: absolute;
    height: 100vh;
    display: grid;
    grid-template-rows: 68px 1fr;

    &_animated {
        animation: 1s scaleMenu forwards;
        background: white;
    }

    &_animation {
        width: 59px;
    }

    &-Logo {
        background:white;
        padding: 12px 0;
        display: flex;
        justify-content: center;
    }

    &_closeAnimated {
        animation: 1s closeMenu forwards;
        background: white;
    }
    .Menu {
      background: #fff 0 0 no-repeat padding-box;
      width: 59px;
      display: inline-table;
      cursor: pointer;
      height: 100%;
    }

    &_animated {
        animation: 1s scaleMenu forwards;
    }

    &_closeAnimated {
        animation: 1s closeMenu forwards;
    }

    &-Logo {
        padding: 18px 0;
        display: flex;
        justify-content: center;
    }
  }


.Menu {
    width: 100%;
    &-Item {
        display: flex;
        justify-content: center;
        padding: 12px 0;
        align-items: center;
        &_wrapper {
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &_link {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
        }

        &_text {
            width: 50%;
            margin-left: 10px;
            text-align: left;
            font-size: 18px;
            letter-spacing: 0;
            color: #757474;
            &-black {
                color: #000;
                width: 50%;
                margin-left: 10px;
                text-align: left;
                font-size: 18px;
                letter-spacing: 0;
            }
        }
        &_active {
            border-left: 2px solid #000;
            & > div {
                border-radius: 15px;
                background: #F0F0F0;
            }
        }
    }
}

@keyframes scaleMenu {
    0% {
        width: 59px;
        position: absolute;
        height: 100vh;
        z-index: 9;
        display: inline-table;
    }

    100% {
        position: absolute;
        z-index: 9;
        width: 250px;
        height: 100vh;
        background: #FFFFFF;
        box-shadow: 0 0 42px #00000014;
        cursor: pointer;
        display: inline-table;
    }
}

@keyframes closeMenu {
    0% {
        width: 250px;
        height: 100vh;
        z-index: 9;
        position: absolute;
        display: inline-table;
    }

    99% {
        z-index: 9;
        position: absolute;
        display: inline-table;
    }

    100% {
        width: 59px;
        position: absolute;
        display: inline-table;
        z-index: 0;
        height: 100vh;
        background: #FFFFFF 0 0 no-repeat padding-box;
        box-shadow: 0 0 42px #00000014;
        cursor: pointer;
    }
}
