.BlackButton {
  border-radius: 3px;
  font-family: "Roboto Bold", Arial, Helvetica, sans-serif;
  background: #000 0 0 no-repeat padding-box;
  letter-spacing: 0;
  color: #FFF;
  font-size: calc(6px + 0.512vw);
  line-height: calc(19px + 1.464vw);
  width: calc(50px + 4.539vw);
  height: 37px;
  margin-top: 10px;
}
