@font-face {
    font-family: "Roboto Bold";
    src: url(../../../../../../../assets/fonts/Roboto/Roboto-Bold.ttf);
}

.Warning {

    padding-top: 30px;

    &-Title {
        letter-spacing: 0px;
        color: #FFF;
        font-size: calc(5px + 0.732vw);
        line-height: calc(10px + 2.123vw);
    }

    &-Description {
        letter-spacing: 0px;
        color: #FFF;
        font-size: calc(6px + 0.512vw);
        line-height: calc(5px + 1.025vw);
        opacity: 0.6;
        padding-bottom: 15px;
    }
}

.ButtonGroup {
    &-Button {
        font-size: calc(4px + 0.732vw);
        line-height: calc(9px + 2.196vw);
        letter-spacing: 0px;
        height: 2.782vw;
        width: 6.442vw;

        cursor: pointer;
        &_white {
            color: #000;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border-radius: 3px;
            font-family: "Roboto Bold", Arial, Helvetica, sans-serif;
        }

        &_black {
            color: #FFF;
            opacity: 0.6;
            font-family: "Roboto Bold", Arial, Helvetica, sans-serif;
            background: transparent;
        }
    }
}