@font-face {
    font-family: "Roboto Bold";
    src: url(../../../assets/fonts/Roboto/Roboto-Bold.ttf);
}

.Wrapper {
    width: 50%;
}

.AddDriver {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &-Form {
        width: 100%;
        background: #fff;
        padding: 18px 18px 36px 18px;
    }

    & .InputBlock {
        width: 95%;
    }
}

.AddDriverForm-FileUpload {
    letter-spacing: 0px;
    font-size: 13px;
    line-height: 39px;
    color: #BABABA;
}

.AddDriverFormButtonGroup {
    width: 100%;

    &-Button {
        letter-spacing: 0px;
        color: #000;
        font-size: 12px;
        line-height: 39px;
        width: 50%;
        background: #fff;

        &_blackBorder {
            border-bottom: 2px solid #000000;
        }

        &_noBorder {
            color: #363636;
            font-family: "Roboto Light", Arial, Helvetica, sans-serif;
        }

        &:focus {
            outline: none;
        }

        &_error {
            border: 3px solid red;
        }
    }
}

.Submission {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;

    &-button {
        padding: 0px 22px;
        font-size: 13px;
        line-height: 39px;
        letter-spacing: 0px;
        border: 1px solid #000000;
        border-radius: 3px;
        &_white {
            color: #000;
            background: #FFF 0% 0% no-repeat padding-box;
        }

        &_black {
            background: #000 0% 0% no-repeat padding-box;
            color: #fff;
            font-family: "Roboto Bold", Arial, Helvetica, sans-serif;
        }

        &:disabled {
            opacity: 0.1;
            cursor: default;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .Wrapper {
        width: 70%;
    }
}
@media only screen and (max-width: 768px) {
    .Wrapper {
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    .Wrapper {
        width: 100%;
        padding-left: 8px;
    }
}

@media only screen and (max-width: 500px) {

    .Submission {
        padding: 24px 0 0;
    }

    .EvenInputs {
        flex-direction: column;
        padding: 0;
    }
}
